@charset "utf-8";
.slider {
  border: none;
}

.user-login .login-in-user, .left-partial .my-point .title div, .left-partial .my-point .title div, .left-partial .basket-container .basket-point .title div, .menu-content .price .add .icon, .h-list div .icon.active, .h-list div .icon:hover, .user-login .login-in-user .icon, .user-login .login-in-user .user-menu a:hover, .restaurant-list .position.busy-service, .wizard-container .head .new-adress div, .wizard-two .select-list .edit, .payment-method .form-controller .icon, .user-left-menu .list ul li.active a span, .user-left-menu .list ul li a:hover span, .my-orders .title span div, .my-adress .title span div, .user-right-container .head-title a span, .select-list .position.busy-service, .my-adress .desc .position, .tab_content .adress_container .icon, .m-left-partial .awards span, .menu-container .tp .close, .account-lg .title, .m-menu .m-line:before, .m-menu .m-line:after, .m-menu .m-line span, .menu-container .link a, .m-left-partial .cashpoint span, .wizard-one .list .total .price, .wizard-one .list .product-name span, .update-modal .update-content div, .wizard-two .head .new-adress .icon, .my-adress a.new-adress span, .user-new-adress a.new-adress span, .header .container .user-login a, .header .container .user-login .login-in-user, .header .container .user-login .login-in-user, .user-login .login-in-user .user-menu a, .menu-container .form-accordion .desc {
  color: #8f8f8f;
}

.page-top .st0 {
  fill: #8f8f8f;
}

.slider .owl-controls .owl-page.active span:after, .left-partial .basket-container .title, .restaurant-list .order, .close-branch, .busy-branch, #productModal .modal-footer input[type="button"], [type="checkbox"]:checked+label:before, .left-partial .basket-container .completed-basket button, .order-wizard .wizard-li.active .number, .button-container .next-step button, .user-left-menu .ct-shopping, input+.error, select+.error, textarea+.error, .account-pager .pagination>.active>a, .account-pager .pagination>.active>span, .account-pager .pagination>.active>a:hover, .account-pager .pagination>.active>span:hover, .account-pager .pagination>.active>a:focus, .account-pager .pagination>.active>span:focus, .contact_container .form .element input[type="submit"], .m-menu .m-line:before, .m-menu .m-line:after, .m-menu .m-line span, .us-btn, .menu-container .form-accordion [type="checkbox"]:checked+label:before, .login-form .submit_form input[type="submit"], .m-left-partial .basket, .account-head-title .icon-box .icon, .user-right-container .order-pager .pagination>.active>a, .user-right-container .order-pager .pagination>.active>span, .user-right-container .order-pager .pagination>.active>a:hover, .user-right-container .order-pager .pagination>.active>span:hover, .user-right-container .order-pager .pagination>.active>a:focus, .user-right-container .order-pager .pagination>.active>span:focus, .anchor_menu {
  background: #8f8f8f;
}

.footer {
  background: #000;
  color: #8f8f8f;
}

.footer a, .footer .social-icon a {
  color: #8f8f8f;
}

.fixed_anchor:before, .fixed_anchor:after {
  background: #f5f5f5;
}

.user-login .login-in-user .user-menu {
  right: 10px;
  border: none;
  border-radius: 0px;
}

.header .container .user-login .login-in-user:hover {
  border: none;
  padding: 7px 14px 0 14px;
}

.restaurant-list .order .icon, .wizard-container .head .secure-market {
  display: none;
}

#productModal .promotion-title, input.error, select.error, textarea.error, .account-pager .pagination>.active>a, .account-pager .pagination>.active>span, .account-pager .pagination>.active>a:hover, .account-pager .pagination>.active>span:hover, .account-pager .pagination>.active>a:focus, .account-pager .pagination>.active>span:focus, .user-right-container .order-pager .pagination>.active>a, .user-right-container .order-pager .pagination>.active>span, .user-right-container .order-pager .pagination>.active>a:hover, .user-right-container .order-pager .pagination>.active>span:hover, .user-right-container .order-pager .pagination>.active>a:focus, .user-right-container .order-pager .pagination>.active>span:focus {
  border-color: #8f8f8f;
}

.product-menus, .left-partial .my-point, .left-partial .basket-container, .user-container .user-right-container, .user-container .user-left-menu .menu, .order-control-content, .choose-region {
  border: none;
}

.menu-container {
  background: #f5f5f5;
}

.menu-container .tp, .choose-region {
  background: #FFF;
  border: none;
}

hr.br {
  border-color: #f5f5f5;
}

.menu-container [type="checkbox"]:not(:checked)+label:before {
  background: #f8f8f8;
}

.menu-container [type="checkbox"]:checked+label:after, .anchor_menu a, .anchor_menu a .icon {
  color: #FFF;
}

.fixed_anchor:before, .fixed_anchor:after {
  left: 0;
  width: 100%;
}

/*Revizeler*/

.header {
  background: #221f1f;
  border: none;
  height: 130px;
}

.slider .owl-controls .owl-page.active span:after, .left-partial .basket-container .title, .restaurant-list .order, .close-branch, .busy-branch, #productModal .modal-footer input[type="button"], [type="checkbox"]:checked+label:before, .left-partial .basket-container .completed-basket button, .order-wizard .wizard-li.active .number, .button-container .next-step button, .user-left-menu .ct-shopping, input+.error, select+.error, textarea+.error, .account-pager .pagination>.active>a, .account-pager .pagination>.active>span, .account-pager .pagination>.active>a:hover, .account-pager .pagination>.active>span:hover, .account-pager .pagination>.active>a:focus, .account-pager .pagination>.active>span:focus, .contact_container .form .element input[type="submit"], .us-btn, .menu-container .form-accordion [type="checkbox"]:checked+label:before, .login-form .submit_form input[type="submit"], .m-left-partial .basket, .account-head-title .icon-box .icon, .user-right-container .order-pager .pagination>.active>a, .user-right-container .order-pager .pagination>.active>span, .user-right-container .order-pager .pagination>.active>a:hover, .user-right-container .order-pager .pagination>.active>span:hover, .user-right-container .order-pager .pagination>.active>a:focus, .user-right-container .order-pager .pagination>.active>span:focus, .anchor_menu {
  background: #000000;
}

.menu-content.list .add-menu .icon {
  color: #000000;
}

@media screen and (max-width:769px) {
  .header .container .logo img {
    text-align: center;
    flex: 1;
    width: 100px;
  }
  .header {
    height: 100px;
  }
  .menu-container .tp, .choose-region {
    background: #f5f5f5;
    border: none;
  }
  .header .container .logo a {
    z-index: 1;
    position: relative;
  }
}

.menu-container .form-accordion input[type="text"], .menu-container .form-accordion input[type="email"], .menu-container .form-accordion input[type="password"], .menu-container .form-accordion input[type="tel"], .menu-container .form-accordion select {
  background-color: #fff;
}

.header .menu-container .logo a {
  display: none;
}

.product-menus .sub-title {
  font-weight: 600;
}