body {
  background-color: #f8f9fa !important;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.spin {
  position: absolute;
  top: 0;
  right: 0;
}

.responsive-image {
  width: 100%;
  height: 100%;
}

.image-wrapper {
  display: inline-flex;
  width: 100px;
  height: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.name {
  opacity: 0;
  height: 0;
  width: 0;
  background: #ff0000ad;
  position: absolute;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper:hover .name {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.carousel img {
  width: 100%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  position: absolute;
}

.carousel-control-prev-icon {
  left: 0;
}

.carousel-control-next-icon {
  right: 0;
}

.navbar {
  padding-right: 0 !important;
  padding-left: 0 !important;
}